<%- include("partials/header") %> 

<div class="main-wrap">
    <div class="main">
        <iframe width="942" height="530" src="https://www.youtube.com/embed/giXco2jaZ_4" title="Top Gun: Maverick | NEW Official Trailer (2022 Movie) - Tom Cruise" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>


<%- include("partials/footer") %> 